.featured
  %h2= link_to recipe.name, recipe
  .description
    :markdown
      #{h recipe.description}
  .tags!= recipe.tag_links
  .clip
    - if !recipe.clipped?
      = link_to 'Clip this recipe for later!', clip_recipe_path(recipe), :method=>:put
    -else
      = link_to 'Remove from clipped recipes', clip_recipe_path(recipe), :method=>:delete