%div{ :class => [cycle(:odd, :even),"listing",recipe.clipped?()? 'clipped' : 'unclipped'] }
  %h3= link_to recipe.name, recipe
  %dl.cook_times
    %dt Cook Time
    %dd= recipe.cook_time_dhms
    %dt Prep Time
    %dd= recipe.prep_time_dhms
  .description
    :markdown
      #{h recipe.description}
  .tags!= recipe.tag_links
  .clip
  - if !recipe.clipped?
    = link_to 'Clip this recipe for later!', clip_recipe_path(recipe), :method=>:put
  -else
    = link_to 'Remove from clipped recipes', clip_recipe_path(recipe), :method=>:delete