%div{ :class => cycle(:odd, :even)+" listing" }
  %h3= link_to recipe.name, recipe
  .description= recipe.description
  %dl.cook_times
    %dt Cook Time
    %dd= recipe.cook_time_dhms
    %dt Prep Time
    %dd= recipe.prep_time_dhms
  .tags= recipe.tag_names
  .clip= link_to 'add', clip_recipe_path(recipe), :method=>:put