.fields
  .field
    = f.label :amount
    %br
    = f.text_field :amount
  .field
    = f.label :unit
    %br
    = f.text_field :unit
  .field
    = f.label :name
    %br
    = f.text_field :name
  = f.link_to_remove "Remove This Ingredient"