//%h1= "FoodThink"
//%h3= "WEB"

.search{:class => 'search_box'}
  = form_tag recipes_path(), :method=>:get do
    = label_tag :search, "Search:"
    = text_field_tag :search, params["search"]
    = submit_tag "Search"

- for recipe in @featured
  .div{:class => 'featured'}
    %h2= recipe.name
    %p= recipe.description
    //%p= link_to recipe('show'), @recipe

= render 'recipe_list'