%h1= t('.title')
%p= link_to t('.new_recipe'), new_recipe_path

%table
  %thead
    %tr
      %th= Recipe.human_attribute_name :name
      %th= Recipe.human_attribute_name :cook_time
      %th= Recipe.human_attribute_name :prep_time
      %th= Recipe.human_attribute_name :description
      %th= Recipe.human_attribute_name :steps
      %th{:colspan => 3}= t 'actions'
  
  %tbody
    - for recipe in @recipes
      %tr{ :class => cycle(:odd, :even) }
        %td= recipe.name
        %td= recipe.cook_time
        %td= recipe.prep_time
        %td= recipe.description
        %td= recipe.steps
        %td.action= link_to t('show'), recipe
        %td.action= link_to t('edit'), edit_recipe_path(recipe)
        %td.action= link_to t('destroy'), recipe, :confirm => t('are_you_sure'), :method => :delete
