%h1= t('.title')
%p= link_to t('.new_ingredient'), new_ingredient_path

%table
  %thead
    %tr
      %th= Ingredient.human_attribute_name :name
      %th= Ingredient.human_attribute_name :description
      %th{:colspan => 3}= t 'actions'
  
  %tbody
    - for ingredient in @ingredients
      %tr{ :class => cycle(:odd, :even) }
        %td= ingredient.name
        %td= ingredient.description
        %td.action= link_to t('show'), ingredient
        %td.action= link_to t('edit'), edit_ingredient_path(ingredient)
        %td.action= link_to t('destroy'), ingredient, :confirm => t('are_you_sure'), :method => :delete
