= form_for([@supply.recipe, @supply]) do |f|
  - if @supply.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@supply.errors.count, 'error')} prohibited this user from being saved:"
      %ul
      - @supply.errors.full_messages.each do |msg|
        %li= msg
  .field
    sdfsfs
    label "Field Token"
    = text_field :amount
-#  .field
-#    = f.label :amount
-#    %br
-#    = f.text_field :amount
-#  .field
-#    = f.label :unit
-#    %br
-#    = f.text_field :unit
-#  .field
-#    = f.label :name
-#    %br
-#    = f.text_field :name

  .actions
    = f.submit
