%h1= t('.title')
%p= link_to t('.new_supply'), new_recipe_supply_path

= render 'application/login_panel'
%table
  %thead
    %tr
      %th= Supply.human_attribute_name :amount
      %th= Supply.human_attribute_name :unit
      %th Name
      %th{:colspan => 3}= t 'actions'
  
  %tbody
    - for supply in @supplies
      %tr{ :class => cycle(:odd, :even) }
        %td= supply.amount
        %td= supply.unit
        %td= supply.name
        %td.action= link_to t('show'), recipe_supply_path(supply.recipe, supply)
        %td.action= link_to t('edit'), edit_recipe_supply_path(supply.recipe, supply)
        %td.action= link_to t('destroy'), recipe_supply_path(supply.recipe, supply), :confirm => t('are_you_sure'), :method => :delete
