!!! 5
%html 
  %head 
    %title FoodThink
    = stylesheet_link_tag    "application" 
    = javascript_include_tag "application" 
    = csrf_meta_tags 
  %body.two-col 
    #container
      #content
        .inner-div
          %h1#headline FoodThink
          = yield 
      #workbench
        .inner-div
          = render 'workbench'

